<h2><%= @user.email %>'s Profile</h2>

<%= render 'shared/comments', user: @user, comments: @user.comments %>

<h4><%= @user.email %>'s Goals:</h4>
<% if current_user && request.original_url == user_url(current_user) %>
  <%= link_to "New Goal", new_goal_url %>
<% end %>
<ul>
  <%= render @goals %>
</ul>

<br>

<%= link_to 'All Users', users_url %>