<li><a href="<%= goal_url(goal) %>"><%= goal.title %></a></li>
<p><%= goal.private ? "private" : "public" %></p>
<p><%= goal.complete ? "Complete" : "Ongoing" %></p>
<br>
<p><%= goal.details %></p>
<% if goal.user == current_user %>
  <%= completion_buttons(goal) %>
  <%= button_to("delete #{goal.title} goal", goal_url(goal), method: :delete) %>
<% elsif goal.cheers.where(user_id: current_user.id).empty? && current_user.cheers_left > 0 %>
  <%= button_to "Cheer!", cheers_goal_url(goal) %>
<% end %>
